<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Bangers|Gloria+Hallelujah|Indie+Flower|Margarine" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Nom a Burger!</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="/assets/js/burgerJquery.js"></script>
</head>

  <style>
        body {
            background-image: url("/assets/img/background.jpg");
            background-size: cover;
            height: 100%;
            overflow: scroll;
            background-repeat: no-repeat;
        }
      
    </style>

<body>

	{{{ body }}}
	
</body>

</html>