  .label {
    font-family: 'Margarine', cursive;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

#titlePage {
  font-family: 'Bangers', cursive;
}

h2 {
  font-family: 'Gloria Hallelujah', cursive;
}

.button {
  font-family: 'Indie Flower', cursive;
}




